{% raw %}---
- name: Provision immutable blue/green stack
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: VPC
      amazon.aws.ec2_vpc_net:
        name: "{{ project_name }}-vpc"
        cidr_block: "{{ vpc_cidr }}"
        region: "{{ aws_region }}"
        tags: "{{ common_tags }}"
        state: present
      register: vpc

    - name: Public subnet A
      amazon.aws.ec2_vpc_subnet:
        vpc_id: "{{ vpc.vpc.id }}"
        cidr: "{{ subnet_a_cidr }}"
        az: "{{ aws_region }}a"
        region: "{{ aws_region }}"
        map_public: true
        tags: "{{ common_tags }}"
        state: present
      register: pub_a

    - name: Public subnet B
      amazon.aws.ec2_vpc_subnet:
        vpc_id: "{{ vpc.vpc.id }}"
        cidr: "{{ subnet_b_cidr }}"
        az: "{{ aws_region }}b"
        region: "{{ aws_region }}"
        map_public: true
        tags: "{{ common_tags }}"
        state: present
      register: pub_b

    - name: ALB security group
      amazon.aws.ec2_security_group:
        name: "{{ project_name }}-alb-sg"
        description: "ALB public"
        vpc_id: "{{ vpc.vpc.id }}"
        region: "{{ aws_region }}"
        rules:
          - proto: tcp
            ports: [80, 443]
            cidr_ip: 0.0.0.0/0
        tags: "{{ common_tags }}"
        state: present

    - name: Golden-image launch template
      amazon.aws.ec2_launch_template:
        name: "{{ project_name }}-lt"
        region: "{{ aws_region }}"
        image_id: "{{ base_ami }}"
        instance_type: t3.micro
        tags: "{{ common_tags }}"

    - name: Blue target group
      community.aws.elb_target_group:
        name: "{{ project_name }}-blue"
        region: "{{ aws_region }}"
        protocol: HTTP
        port: 80
        vpc_id: "{{ vpc.vpc.id }}"
        target_type: instance
        health_check_path: /
        health_check_protocol: HTTP
        state: present

    - name: Green target group
      community.aws.elb_target_group:
        name: "{{ project_name }}-green"
        region: "{{ aws_region }}"
        protocol: HTTP
        port: 80
        vpc_id: "{{ vpc.vpc.id }}"
        target_type: instance
        health_check_path: /
        health_check_protocol: HTTP
        state: present

    - name: ALB (forwards to blue; flip to green on deploy)
      amazon.aws.elb_application_lb:
        name: "{{ project_name }}-alb"
        region: "{{ aws_region }}"
        subnets:
          - "{{ pub_a.subnet.id }}"
          - "{{ pub_b.subnet.id }}"
        security_groups:
          - "{{ project_name }}-alb-sg"
        listeners:
          - Protocol: HTTP
            Port: 80
            DefaultActions:
              - Type: forward
                TargetGroupName: "{{ project_name }}-blue"
        state: present
{% endraw %}