{% raw %}---
- name: Find private subnets
  amazon.aws.ec2_vpc_subnet_info:
    region: "{{ aws_region }}"
    filters:
      "tag:Role": private
  register: rds_priv

- name: Create DB subnet group
  amazon.aws.rds_subnet_group:
    name: "{{ project_name }}-db-subnets"
    region: "{{ aws_region }}"
    description: "DB subnets for {{ project_name }}"
    subnets: "{{ rds_priv.subnets | map(attribute='id') | list }}"
    state: present

- name: Create RDS instance (private)
  amazon.aws.rds_instance:
    id: "{{ project_name }}-db"
    region: "{{ aws_region }}"
    engine: postgres
    db_instance_class: db.t3.micro
    allocated_storage: 20
    master_username: "{{ db_username | default('appadmin') }}"
    master_user_password: "{{ db_password | default('CHANGE_ME_IN_VAULT') }}"
    db_subnet_group_name: "{{ project_name }}-db-subnets"
    publicly_accessible: false
    multi_az: false
    state: present
{% endraw %}